<template>
  <div>
    <div class="row">
      <br><br>
      <div class="col-md-8 offset-md-2">
       <h2>Users</h2>
         <ul class="list-group">
           <li v-for="user in users" class="list-group-item">
             {{ user.username }} - {{ user.first_name }}
           </li>
         </ul>  
      </div>
    </div>  
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'
export default {

  name: 'ListUser',

  data () {
    return {
      users: [],
    }
  },
  created: function () {
    this.getUsers();
  },
  beforeCreate: function () {
    if (!auth.user.authenticated) {
      this.$router.push('/login?next=/users');
    }
  },
  methods: {
    getUsers: function () {
      axios.get('http://sec.omo.in.ua/api/users/').then(response =>{
        this.users = response.data;
      }).catch(e => {
        console.log(e);
      })
    }
  }
}
</script>

<style lang="css" scoped>
</style>