<template>
  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Log in to your account</h2>
           <b-alert variant="warning"
                    dismissible
                    :show="show_warning"
                    @dismissed="show_warning=false">
            {{ warning_msg }}
          </b-alert>
        <form>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input v-model="user.username" class="form-control" type="text" name="username" id="username">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input v-model="user.password" class="form-control" type="password" name="password" id="password">
            </div>
          </div>
          <div class="form-group col-md-1 offset-md-5">
            <button @click.prevent="submit()" class="btn btn-primary">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import auth from '../auth'
export default {

  name: 'Login',

  data () {
    return {
      user: {
        username: '',
        password: ''
      },
      warning_msg: '',
      show_warning: false,
    }
  },
  methods: {
    submit: async function () {
      console.log('login submit');
      var data = { username: this.user.username, 
                   password: this.user.password };
      var next = this.$route.query.next;
      var result = await auth.login(this, data, next);
      if (result && result.response.data.non_field_errors[0]) {
        this.warning_msg = result.response.data.non_field_errors[0];
        this.show_warning = true;
      }
    }
  }
}
</script>

<style lang="css" scoped>
</style>