<template>
  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut vulputate urna, laoreet blandit justo. Nunc et libero tristique turpis laoreet fringilla eu eget eros. Maecenas porttitor lectus risus. Aenean interdum vel turpis sed pharetra. Sed sollicitudin turpis sit amet volutpat pulvinar. Vestibulum a turpis felis. Quisque posuere vitae risus in faucibus.</p>
        <p>Donec bibendum sapien vitae nunc consectetur faucibus. Morbi luctus sapien eget magna tristique bibendum. Praesent rutrum, orci sed tincidunt consectetur, ipsum mi ultricies urna, ut venenatis justo quam vitae velit. Sed id molestie nulla. Pellentesque ac ante ut nibh sollicitudin rhoncus quis ac lectus. Quisque et neque convallis, dictum dui eu, viverra orci. Aliquam fermentum interdum varius. Phasellus sollicitudin metus sit amet urna gravida cursus. Aliquam vulputate posuere maximus. Donec semper, neque non commodo porta, turpis erat pharetra nisl, in finibus augue quam consequat lacus. Pellentesque eget ante quam. Cras sit amet molestie elit. Fusce commodo tristique tellus semper sagittis. In faucibus ligula ipsum.</p>
        <p>Nullam maximus metus magna, quis maximus arcu pretium ac. Proin vel interdum ante, vitae ultricies tellus. Aenean et neque massa. Curabitur pharetra tortor dictum facilisis suscipit. Suspendisse convallis mollis diam, et scelerisque elit dignissim et. Integer rhoncus finibus justo eget hendrerit. In hac habitasse platea dictumst. Morbi eget sapien enim. Praesent id ante tortor. Vestibulum id facilisis leo, vitae rutrum odio. Aliquam nulla elit, iaculis nec tristique in, rhoncus nec lectus. Fusce vulputate nisi sed placerat tempor. Suspendisse eu elementum nisl, non finibus lorem. Proin ac dui orci. Phasellus imperdiet lobortis est ornare mollis.</p>
        <p>Nam fringilla nulla eget vestibulum varius. Duis quis lorem nulla. Vivamus vulputate lacus nisl, vel auctor dui semper scelerisque. Morbi bibendum eleifend magna, quis bibendum mi commodo at. Aliquam erat volutpat. In ornare condimentum convallis. Nunc imperdiet lacus et arcu interdum, vel volutpat nulla tincidunt.</p>
        <p>Nunc sollicitudin elementum elit nec suscipit. Duis gravida, diam ut suscipit ornare, arcu odio auctor ipsum, id aliquet nunc justo dictum quam. Mauris posuere libero magna, id molestie urna dapibus sed. Praesent lectus eros, hendrerit et nulla eu, egestas maximus elit. Sed et elit fringilla, sagittis nisi at, aliquet lectus. Suspendisse convallis non sem ac tristique. Aliquam tempus orci ut ullamcorper posuere. Duis libero ante, scelerisque et elit id, congue sollicitudin enim. Sed egestas molestie justo tristique iaculis. Aenean convallis eu quam non mollis. Ut quis commodo dui. Sed eu nulla purus. Nulla facilisi.</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {

  name: 'Main',

  data () {
    return {

    }
  },
  mounted() {
    console.log(` _______               _______                  _______    _______    _______  
(  ____ \\  |\\     /|  (  ____ \\  |\\    /\\      (  ___  )  (  ____ \\  (  ____ \\ 
| (    \\/  | )   ( |  | (    \\/  | \\  / /      | (   ) |  | (    \\/  | (    \\/ 
| (__      | |   | |  | |        | (_/ /       | |   | |  | (__      | (__     
|  __)     | |   | |  | |        |  _ (        | |   | |  |  __)     |  __)    
| (        | |   | |  | |        | ( \\ \\       | |   | |  | (        | (       
| )        | (___) |  | (____/\\  | /  \\ \\      | (___) |  | )        | )       
|/         (_______)  (_______/  |/    \\/      (_______)  |/         |/        `);
  }
}
</script>

<style lang="css" scoped>
</style>