<template>
<b-navbar toggleable="md">

  <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
  <b-navbar-brand>
    <router-link id="brand-link" to='/'>
      <img src="../assets/mishalol.png" height="50" width="40">
      Photo-front
    </router-link>
  </b-navbar-brand>
  <b-collapse is-nav id="nav_collapse">
    <b-navbar-nav>
      <!-- <b-nav-item v-if="auth.user.authenticated">
        <router-link to="/users" class="nav-link">Users</router-link>
      </b-nav-item> -->
      <b-nav-item>
        <router-link to="/feed" class="nav-link">Feed</router-link>
      </b-nav-item>
      <b-nav-item v-if="auth.user.authenticated">
        <router-link to="/photos" class="nav-link">My Photos</router-link>
      </b-nav-item>
      <b-nav-item v-if="auth.user.authenticated">
        <router-link to="/upload" class="nav-link">Upload photos</router-link>
      </b-nav-item>
    </b-navbar-nav>
    <b-navbar-nav class="ml-auto">
      <!-- <transition-group name="list-complete" tag="a"> -->
        <h6 id="current-user" v-if="auth.user.authenticated">Hello, <i>{{ auth.user.username }}</i></h6>
        <b-nav-item v-if="auth.user.authenticated">
          <a @click.prevent="logout()" class="nav-link">Logout</a>
        </b-nav-item>
        <b-nav-item v-if="!auth.user.authenticated">
          <router-link to="/login" class="nav-link">Log in</router-link>
        </b-nav-item>
        <b-nav-item v-if="!auth.user.authenticated">
          <router-link to="/register" class="nav-link">Register</router-link>
        </b-nav-item>
      <!-- </transition-group> -->
    </b-navbar-nav>
  </b-collapse>
</b-navbar>
</template>

<script>
import auth from '../auth'
export default {

  name: 'Navbar',

  data () {
    return {
      auth: auth,
    }
  },
  methods: {
    isActive: function (path) {
      return path == this.$route.path;
    },
    logout: function () {
      auth.logout(this);
    },
  }
}
</script>

<style lang="css" scoped>
.navbar {
  padding-top: 0;
  padding-bottom: 0;
  z-index: 100;
  color: white;
}
.navbar-light .navbar-nav .nav-link {
  color: white;
}
a.nav-link {
  padding-top: 0;
  padding-bottom: 0;
  line-height: 3.5rem;
}
li.nav-item:hover {
  background: rgba(0,0,0,0.05);
}

nav {
  background: rgb(175, 0, 0);
}
.nav-link {
  outline: 0;
}
.router-link-exact-active:not(#brand-link) {
  border-bottom: 2px solid white;
  color: white;
}
#current-user {
  margin: auto 1rem auto;
}
#brand-link {
  outline: 0;
  color: white
  /*color: black;*/
}
#brand-link:hover {
  text-decoration: none;
}

.list-complete-item {
  transition: all 1s;
  display: inline-block;
  margin-right: 10px;
}
.list-complete-enter, .list-complete-leave-to {
  opacity: 0;
  transform: translateY(30px);
}
.list-complete-leave-active {
  position: absolute;
}

.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}
.slide-enter {
  transform: translateY(-100%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateY(-100%);
  opacity: 0;
}
</style>