<template>
  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Register new user</h2>
           <b-alert variant="warning"
                    dismissible
                    :show="show_warning"
                    @dismissed="show_warning=false">
            {{ warning_msg }}
          </b-alert>
        <form>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="username">Username</label>
              <input v-model="new_user.username" class="form-control" type="text" name="username" id="username">
            </div>
            <div class="form-group col-md-6">
              <label for="email">Email</label>
              <input v-model="new_user.email" class="form-control" type="email" name="email" id="email">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="first-name">First name</label>
              <input v-model="new_user.first_name" class="form-control" type="text" name="first-name" id="first-name">
            </div>
            <div class="form-group col-md-6">
              <label for="last-name">Last name</label>
              <input v-model="new_user.last_name" class="form-control" type="text" name="last-name" id="last-name">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="password">Password</label>
              <input v-model="new_user.password" class="form-control" type="password" name="password" id="password">
            </div>
            <div class="form-group col-md-6">
              <label for="repassword">Repeat password</label>
              <input v-model="new_user.repeat_password" class="form-control" type="password" name="repassword" id="repassword">
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6">
              <label for="avatar">Profile photo</label>
              <input type="file" @change="uploadAvatar" name="avatar" id="avatar" accept="image/*">
            </div>
            <div class="form-group col-md-1 offset-md-5">
              <button @click.prevent="registerUser()" class="btn btn-primary">Sign up</button>
            </div>
          </div>
          <img :src="image_src" width="150">
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
export default {

  name: 'NewUser',

  data () {
    return {
      new_user: {username: "", email: "", first_name: "", last_name: "", password: "", repeat_password: "", profile: {}},
      show_warning: false,
      warning_msg: "",
      image_src: "",
      form_data: null,
    }
  },
  created: function () {
    // this.form_data = new FormData();
  },
  methods: {
    registerUser: function () {
      if (!this.validateUserData()) {
        console.log('Data fail')
        return false;
      }
      axios.post('http://sec.omo.in.ua:8000/users/', JSON.stringify(this.new_user)).then(response =>{
        this.$router.push('/login');
      }).catch(e => {
        console.log(e);
      })
    },
    uploadAvatar: function (e) {
      var files = e.target.files;
      if (!files[0]) {
        return;
      }
      this.form_data.append('avatar', files[0])
      var reader = new FileReader();
      reader.onload = (e) => {
        this.image_src = e.target.result;
      }
      reader.readAsDataURL(files[0]);
    },
    validateUserData: function () {
      if (this.new_user.password.length < 8) {
        this.warning_msg = "Password has to be at least 8 characters long";
        this.show_warning = true;
        return false;
      }
      if (this.new_user.password != this.new_user.repeat_password) {
        this.warning_msg = "Passwords have to match";
        this.show_warning = true;
        return false;
      }
      if (!this.new_user.username) {
        this.warning_msg = "Username is required";
        this.show_warning = true;
        return false;
      }
      if (!this.new_user.email) {
        this.warning_msg = "Email is required";
        this.show_warning = true;
        return false;
      }
      return true;
    }
  }
}
</script>

<style lang="css" scoped>

</style>