<template>
  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>Upload photos</h2>
        <form enctype="multipart/form-data" novalidate>
          <div class="dropbox">
            <input type="file" multiple :name="uploadFieldName" :disabled="isSaving" @change="filesChange($event.target.name, $event.target.files); fileCount = $event.target.files.length" accept="image/*" class="input-file">
              <p v-if="isInitial">
                Drag your file(s) here to begin<br> or click to browse
              </p>
              <div v-if="isSaving">
                <p>Uploading {{ fileCount }} files...</p>
                <div class="loader">
                  <div id="load-element1"></div>
                  <div id="load-element2"></div>
                  <div id="load-element3"></div>
                </div>
              </div>
              <p v-if="isFailed">
                Upload failed!
              </p>
              <p v-if="isSuccess">
                Successfully uploaded {{ fileCount }} files.
              </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'

const STATUS_INITIAL = 0, STATUS_SAVING = 1, STATUS_SUCCESS = 2, STATUS_FAILED = 3;
export default {
  name: 'PhotoNew',

  data() {
    return {
      uploadedFiles: [],
      uploadError: null,
      currentStatus: null,
      uploadFieldName: 'image'
    }
  },
  computed: {
    isInitial() {
      return this.currentStatus === STATUS_INITIAL;
    },
    isSaving() {
      return this.currentStatus === STATUS_SAVING;
    },
    isSuccess() {
      return this.currentStatus === STATUS_SUCCESS;
    },
    isFailed() {
      return this.currentStatus === STATUS_FAILED;
    }
  },
  methods: {
    reset() {
      // reset form to initial state
      this.currentStatus = STATUS_INITIAL;
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    save(formData) {
      this.currentStatus = STATUS_SAVING;
      axios.post('http://sec.omo.in.ua:8000/photos/', formData).then( response => {
        console.log(response);
        this.currentStatus = STATUS_SUCCESS;
      }).catch( response => {
        console.log(response);
        // this.uploadError = response;
        this.currentStatus = STATUS_FAILED;
      })
    },
    filesChange(fieldName, fileList) {
      const formData = new FormData();

      if (!fileList.length) return;

      Array
        .from(Array(fileList.length).keys())
        .map(x => {
          formData.append(fieldName, fileList[x], fileList[x].name);
        });
      this.save(formData);
    },
  },
  beforeCreate() {
    if (!auth.user.authenticated) {
      this.$router.push('/login?next=/upload');
    }
  },
  mounted() {
    this.reset();
  },
}
</script>

<style lang="css" scoped>
.dropbox {
    border: 2px dashed grey; /* the dash box */
    /*outline-offset: -5px;*/
    background: rgba(175,0,0,0.5);
    color: dimgray;
    padding: 10px 10px;
    min-height: 200px; /* minimum height */
    position: relative;
    cursor: pointer;
  }

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: rgba(175,0,0,0.8);
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 50px 0;
  color: white;
}

.loader {
  margin-top: -3%;
  margin-left: 50%;
  margin-bottom: 3%;
  transform: translateX(-35px);
}
.loader div{
  border-top: 1px solid white;
}
</style>