<template>
  <div>
    <div class="row">
      <div class="col-md-1">
        <a href="" @click.prevent="goBack">
          <div class="switcher prev">
            <i class="material-icons">keyboard_arrow_left</i>
          </div>
        </a>
      </div>
      <div class="col-md-6 offset-md-2">
        <transition name="slide-edit" mode="out-in">
          <div v-if="mode == 0">
            <div class="row">
              <h3 style="flex:1;">{{title}}</h3>
              <template v-if="owner == auth.user.username">
                <button @click="deletePhoto" id="delete-btn" class="btn btn-danger action-btn">Delete</button>
                <button @click="mode=1" id="edit-btn" class="btn btn-warning action-btn">Edit</button>
              </template>
            </div>
            <a :href="src" target="_blank">
              <img class="img-fluid img-view rounded" :src="src" :alt="title">
            </a>
            <br>
            <p>{{description}}</p>
          </div>
        </transition>
        <transition name="slide-edit" mode="out-in">
          <div v-if="mode == 1">
            <form>
              <div class="row">
                <div class="col-md-4">
                  <img :src="src" class="img-fluid rounded">
                </div>
                <div class="col-md-8">
                  <div class="row form-group">
                    <label for="title">Title</label>
                    <input class="form-control" type="text" id="title" v-model="newTitle">
                  </div>
                  <div class="row form-group">
                    <label for="description">Description</label>
                    <textarea v-model="newDescription" class="form-control" name="description" id="description" rows="10"></textarea>
                  </div>
                </div>
              </div>
            </form>
            <div class="btns">
              <button @click="mode=0" class="btn btn-danger">Cancel</button>
              <button @click="editPhoto" class="btn btn-success">Save</button>
            </div>
          </div>
        </transition>
      </div>
      <div class="col-md-1 offset-md-2">
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'
export default {

  name: 'PhotoView',

  data () {
    return {
      mode: 0,
      src: null,
      auth: auth,
      owner: null,
      description: null,
      title: null,
      newDescription: "",
      newTitle: "",
    }
  },
  methods: {
    goBack: function () {
      this.$router.go(-1)
    },
    clearEdits: function () {
      this.newDescription = '';
      this.newTitle = '';
    },
    editPhoto: function () {
      var newData = {description: this.newDescription, title: this.newTitle};
      var pk = this.$route.params.id;
      axios.put('http://sec.omo.in.ua:8000/photos/'+pk+'/', JSON.stringify(newData)).then( response => {
        this.owner = response.data.owner_username
        this.title = response.data.title;
        this.description = response.data.description;
        this.clearEdits();  
        this.mode = 0;
      }).catch( error => {
        console.log(error);
        this.clearEdits();  
        this.mode = 0;
      })
    },
    deletePhoto: function () {
      var pk = this.$route.params.id;
      axios.delete('http://sec.omo.in.ua:8000/photos/'+pk+'/').then( response => {
        console.log(response);
        this.$router.push('/photos');
      }).catch( error => {
        console.log(response);
      })
    }
  },
  created: function () {
    var pk = this.$route.params.id;
    axios.get('http://sec.omo.in.ua:8000/photos/'+pk+'/').then( response => {
      console.log(response.data);
      this.src = "http://sec.omo.in.ua" + response.data.image;
      this.title = response.data.title ? response.data.title : "Photo";
      this.newTitle = response.data.title;
      this.description = response.data.description;
      this.newDescription = response.data.description;
    }).catch( response => {
      console.log(response);
    });
  }
}
</script>

<style lang="css" scoped>
img {
  image-orientation: from-image;
}
img-view{
  margin-left: 50%;
  transform: translateX(-50%);
  max-height: 90vh;
}
.switcher {
  display: block;
  position: fixed;
  width: 100px;
  height: 100vh;
  top: 0;
  background: rgba(0,0,0,0.1);
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
.switcher:hover {
  background: rgba(0,0,0,.3);
}
.material-icons {
  margin-top: 50vh;
  margin-left: 50%;
  transform: translateX(-50%);
  color: black;
  font-size: 55px;
}
.action-btn {
  height: 32px;
  line-height: 16px;
  transition: all .5s ease;
  margin-right: 5px;
}
#edit-btn {
  background: yellow;
}
#delete-btn {
  background: red;
}
#edit-btn:hover {
  background: #ffaa00;
}
#delete-btn:hover {
  background: #8c0000;
}
.btns {
  float: right;
}

.slide-edit-enter-active, .slide-leave-active {
  transition: all .6s ease;
}
.slide-edit-enter {
  opacity: 0;
  transform: translateY(20%);
}
.slide-edit-leave-to {
  opacity: 0;
  transform: translateY(20%);
}
</style>