<template>
  <div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <h2>{{title}}</h2>
        <div class="content" v-infinite-scroll="getPhotos" infinite-scroll-distance="3">
          <div class="row">
            <p v-if="empty">No photos yet :( You can <router-link to="upload/">upload</router-link> some yourself!</p>
            <template v-for="k in images">
              <div class="card bg-dark text-white">
                <img v-show="k.isReady" style="z-index:0; object-fit: cover;" height="300" class="card-img" :src="k.src" />
                <router-link :to="{name: 'PhotoView', params: {id: k.id}}">
                  <div class="card-img-overlay h-100 d-flex flex-column justify-content-end">
                    <h5 class="card-title">{{k.title}}</h5>
                    <p class="card-text" style="">{{k.description}}</p>
                    <p class="card-text"><i>Uploaded {{k.uploaded}} </i></p>
                  </div>
                </router-link>
              </div>
            </template>
          </div>
        </div>
      </div>
      <transition name="load-slide" mode="out-in">
        <div class="loader" v-show="loading">
          <div id="load-element1"></div>
          <div id="load-element2"></div>
          <div id="load-element3"></div>
        </div>
      </transition>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import auth from '../auth'

export default {

  name: 'PhotoList',

  data () {
    return {
      images: [],
      nextPhoto: 0,
      loading: false,
      now: Math.floor(Date.now()/1000)
    }
  },
  methods: {
    getRandomSize: function (min, max) {
      return Math.round(Math.random() * (max - min) + min);
    },
    getPhotos: function () {
      if (this.loading) {
        return
      }
      this.loading = true;
      // this.images = [];
      axios.get('http://sec.omo.in.ua:8000/photos/'+this.urlSuffix+'?start='+this.nextPhoto+'&before='+this.now).then(response => {
        console.log(response);
        if (response.data.length == 0) {
          this.loading = false;
          return
        }
        response.data.map( x => {
          this.images.push({src: 'http://sec.omo.in.ua:8000'+x.thumbnail_url, isReady: true,
                               id: x.uid, title: x.title ? x.title : "",
                               description: x.description ? x.description : "",
                               uploaded: this.title == 'Photos' ? x.uploaded_readable : x.uploaded_readable + ' by ' + x.owner_username});
          this.nextPhoto++;
        })
        this.loading = false;
      }).catch( response =>{
        console.log(response);
        this.loading = false;
      });
    }
  },
  computed: {
    title: function () {
      if (this.$route.path == '/photos') {
        return 'Photos';
      } else {
        return 'Feed';
      }
    },
    urlSuffix: function () {
      if (this.$route.path == '/feed') {
        return 'feed/';
      } else {
        return '';
      }
    }
  },
  beforeCreate: function () {
    if (!auth.user.authenticated && this.$route.path == '/photos') {
      console.log(this.$route);
      this.$router.push('/login?next='+this.$route.path);
    }
  },
  watch: {
    '$route.path': function(path) {
      this.$router.push(path);
    }
  },
}
</script>

<style lang="css" scoped>
.fade-enter-active, .fade-leave-active {
  transition: all 0.8s ease;
}
.fade-item {
  transition: all 1s;
  display: inline-block;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
  /*transform: translateY(15%);*/
}
.card {
  margin: 5px 0.5%;
  width: 99%;
}
.card-text, .card-title {
  color: white;
}
@media (min-width: 576px) {
  .card {
    margin: 5px 0.5%;
    width: 49%;
  }
}
/*@media (min-width: 768px) {
  .card {
    margin: 5px 0.5%;
    width: 49%;
    font-size: smaller;
  }
}*/
@media (min-width: 992px) {
  .card {
    margin: 5px 0.5%;
    width: 32.3%
  }
}
@media (min-width: 1200px) {
  .card {
    margin: 5px 0.5%;
    width: 24%;
  }
}
.card-img-overlay {
  opacity: 0;
  transition: all 0.5s ease;
  color: black;
}
.card-img-overlay:hover {
  opacity: 1;
  background: linear-gradient(rgba(0,0,0,0), rgba(175,0,0,0.5));
}

/* Loader styles */
.loader {
  position: fixed;
  bottom: 20px;
  right: 20px;
  margin-right: 2%;
  margin-bottom: 2%;
}
.load-slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}
.load-slide-enter {
  opacity: 0;
  transform: translateY(50%);
}
.load-slide-leave-to {
  opacity: 0;
  transform: translateY(50%);
}
</style>