<template>
  <div id="app">
    <app-navbar></app-navbar>
    <div class="container-fluid">
      <transition name="slide" mode="out-in">
        <router-view :key="$route.fullPath"></router-view>
      </transition>
    </div>
  </div>
</template>

<script>
import Navbar from './components/Navbar.vue';
// import ListUser from './components/ListUser.vue';
export default {
  components: {
    'app-navbar': Navbar,
    // 'app-list-user': ListUser,
  },
  name: 'app',
  data () {
    return {
      
    }
  }
}
</script>

<style lang="css">
.container-fluid {
  margin-top: 1rem;
}
.slide-enter-active, .slide-leave-active {
  transition: all .3s ease;
}
.slide-enter {
  opacity: 0;
  /*transform: translateY(15%);*/
}
.slide-leave-to {
  opacity: 0;
  /*transform: translateY(15%);*/
}

.loader div{
  width: 70px;
  height: 70px;
  animation: load 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  border-top: 1px solid red;
  border-radius: 50%;
}
@keyframes load {
  from{transform:rotate(0deg);}
  50%{transform:rotate(180deg);}
  100%{transform:rotate(360deg);}
}
#load-element2 {
  width: 60px;
  height: 60px;
  animation-delay: .2s;
  margin-top: -65px;
  margin-left: 5px
}
#load-element3 {
  width: 50px;
  height: 50px;
  animation-delay: .4s;
  margin-top: -55px;
  margin-left: 10px;
}
</style>
